@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::selection {
    background: var(--corVE);
}

:root {
    --corCinza: #2F3034; /* Cinza */
    --corBranco: #FCFCFC; /* Branco */
    --corVE: #1A7B66; /* Verde escuro */
    --corVC: #A1E1D3; /* Verde claro */
    --corPreto: #141414; /* Preto */

    --fontText: 'Poppins';
    --fontTitle: 'Anton';
}

* {
    margin: 0;
    padding: 0;

    font: 0.95em var(--fontText);
    color: var(--corBranco);
    text-decoration: none;
    border: 0;
    scroll-behavior: smooth;
}

/* h1, h2, p, a, input {
    user-select: a;
} */  

input {
    background: var(--corVC);
    color: var(--corPreto);
    width: 100px;
    height: 30px;
    border-radius: 20px;
}

img {
    user-select: none;
}

body {
    background: var(--corPreto);
}

h1, h2 {
    font: 3em var(--fontTitle);
}

header {
    position: fixed;
    margin: 20px;
    width: 100vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

header img {
        width: 50px;
        height: 61px;
    }

header > ul {
        display: flex;
        position: absolute;
        right: 50px;
        list-style-type: none;
        gap: 20px;
        align-items: center;
    }

header h1 {
        margin-left: 7px;
        font: bold 3em var(--fontText);
    }



main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

div.slides, footer {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start; /* Snap no topo do slide */
    position: relative;
}





div#slide01 {
    background: var(--corPreto) url(../assets/images/splash-pc.png) fixed no-repeat ;
    background-size: cover;
    text-align: right;
}

div#slide01 > img {
    position: absolute;
    left: 25vw;
    z-index: 1;
}

div#slide01 > section {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

div#slide01 h1 {
    font-size: 7.5em;
    margin-bottom: -20px;
    letter-spacing: 3px;
}

div#slide01 p {
    font-size: 1.5em;
    letter-spacing: 2px;
}





div#slide02 {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div#slide02 > section#phrases {
        font-size: 2.5em;
        line-height: 10%;
}

div#slide02 > h2 {
    margin-bottom: -30px;
}

div#slide02 section#text {
        width: 350px;
    }





div#slide03 {
    
}





div#slide04, div#slide05, div#slide06 {
    display: flex;
    align-items: center;
    justify-content: center;
}






div#slide04 {
    background: var(--corCinza);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#slide04 > h2, img {
    margin: 15px 0;
}




div#slide05 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}





div#slide06 {
    display: flex;
    gap: 50px;
}

div#slide06 p {
    width: 500px;;
}

div#slide06 img {
    height: 450px;
}





div#slide07 {
    overflow-y: scroll;
}

div#slide07 > img {
        margin-top: 100px;
}





div#slide08 {
    text-align: center;
}

div#slide08 > p {
    position: relative;
    top: 45%;
    font-size: 3em;
}





a {
    position: relative;
}
  
a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 4px;
      background: #ffffff;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
}
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}





footer {
    background: var(--corCinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

footer > h1 {
    margin-top: 100px;
    font-size: 5em;
}

footer > div {
    margin-top: 100px;
    display: flex;
    gap: 15vw;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: #bbbbbb;
}

footer ul li {
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 10px;
}

iframe {
    width: 375px;
    height: 667px;
}