body, html {
    padding: 0;
    top: 0;
    margin: 0;
    background-color: #2F3034;
    overflow: hidden;
}
html::-webkit-scrollbar {
    display: none;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#contato {
    background-color: #fcfcfc;
    border-radius: 0px 100px 100px 0px;
    height: 91.8dvh;
    padding: 30px;
    transition: 0.7s;
}
#bemVindo {
    margin: 0;
    margin-bottom: 40px;
    line-height: 1.4cap;
}
#contato > h1 {
    text-align: center;
    color: #2F3034;
    animation: aparicaoCont 1.3s ease;
}
#apresentacao {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
h1 {
    font-family: "Anton";
    font-size: 50px;
    text-decoration: none;
    margin: 0;
    font-weight: 200;
}
#ola {
    font-size: 80px;
}
#ola, h3 {
    line-height: 1;
}
#emailAU {
    margin-bottom: 25px;
}
p {
    margin: 0;
    line-height: 1;
}
#dados {
    display: flex;
    flex-direction: column;
    gap: 15px;                
    justify-content: center;  
    align-items: center;      
    padding-top: 60px;
    animation: aparicaoCont 1.3s ease;
}
input, #userSubmit, textarea {
    width: 279px;
    height: 50px;
    border-radius: 15px;
    border: solid 2px #1A7B66;
    padding: 10px;
}
textarea {
    resize: none;
    padding-top: 15px;
}
input::placeholder {
    opacity: 0.6;
    font-size: 15px;
}
textarea::placeholder {
    opacity: 0.6;
    font-size: 15px;
}
textarea:focus::placeholder, input:focus::placeholder {
    transition: 0.5s;
    color: #1A7B66;
    opacity: 1;
}
textarea:focus, input:focus {
    outline: none;
}
#userSubmit {
    background-color: #1A7B66;
    width: 300px;
    height: 60px;
}
#textos, #userSubmit {
    color: #fcfcfc;
}
#textos {
    margin: 230px auto;
    text-align: center;
    animation: aparicaoText 1.3s ease;
}
#userMensagem {
    height: 200px;
}
#voltar {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fcfcfc;
}
#bVoltar {
    width: 15px;
    height: 15px;
    padding-right: 2px;
}
h3, p, input, button, label, textarea {
    font-family: "Poppins";
}
h3, p {
    font-weight: 100;
    font-size: 25px;
}
input, button {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #fcfcfc;
}
h1 {
    letter-spacing: 3px;
}
button {
    font-size: 18px;
}
#celular {
    display: none;
}
#userEmail:valid {
    color: #1A7B66;
}
#userEmail:invalid {
    color: #ff2f00;
}
@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        transition: 1s;
    }
    h3, p {
        font-size: 15px;
    }
    #textos > div > h1 {
        font-size: 60px;
    }
    #dados {
        display: flex;
        gap: 15px;      
        padding-top: 15px;
        animation: aparicaoCont 1.3s ease;
    }
    #contato {
        background-color: #fcfcfc;
        border-radius: 100px 100px 0px 0px;
        height: 100dvh;
        padding-top: 30px;
    }
    #apresentacao {
        display: none;
    }
    #contato > h1 {
        font-size: 35px;
        animation: aparicaoCont 1.3s ease;
    }
    #textos {
        margin: 0.7%;
        height: 100px;
        animation: aparicaoTextMob 1.3s ease;
    }
}
@media (orientation: landscape) {
    html {
        overflow: auto;
    }
}
@keyframes aparicaoCont {
    from {
        margin: 1cqi;
        opacity: 0;
    }
    to {
        margin: 0 auto;
        opacity: 1;
    }
}
@keyframes aparicaoText {
    from {
        margin: 37dvh;
        opacity: 0;
    }
    to {
        margin: 31.5dvh auto;
        opacity: 1;
    }
}
@keyframes aparicaoTextMob {
    from {
        margin: 4dvh;
        opacity: 0;
    }
    to {
        margin: 0.8dvh auto;
        opacity: 1;
    }
}