@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {display: none;}
::selection {background: var(--corVE);}

:root {
    --corCinza: #2F3034; /* Cinza */
    --corBranco: #FCFCFC; /* Branco */
    --corVE: #1A7B66; /* Verde escuro */
    --corVC: #A1E1D3; /* Verde claro */
    --corPreto: #141414; /* Preto */

    --fontText: 'Poppins';
    --fontTitle: 'Anton';
}

* {
    margin: 0;
    padding: 0;

    font: 0.95em var(--fontText);
    color: var(--corPreto);
    text-decoration: none;
    border: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--corBranco);
}

h1, h2 {
    font: 3em var(--fontTitle);
}

input {
    background: var(--corVC);
    color: var(--corPreto);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}



p > a, li > a {
    position: relative;
}
  
p > a::before, li > a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 4px;
      background: #ffffff;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
}
  
p > a:hover::before, li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}





/* ——— main config —————————— */


header {
    position: fixed;
    width: 100%;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

header img {
    width: 50px;
    height: 61px;
}

header > section {
    display: flex;
    animation: titulo 1.5s;
    transition: 1s;
}

header h1 {
    margin-left: 15px;
    margin-top: -8px;
    font: bold 4em var(--fontText);
}

header > ul {
    display: none;
}

header > ul > li {
    font-size: 1.4em;
}

header > ul > li > input {
    height: 40px;
}

header p {
    font-size: 3.5em;
    position: absolute;
    top: 15px;
    right: 70px;
}

body > div {
    position: absolute;
    top: 120px;
    width: 100vw;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

h3, main p, footer p {
    color: var(--corBranco);
}

h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    gap: 20px;
    margin: 0 auto;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--corCinza);
    height: 160px;
    padding: 15px;
    border-radius: 10px;
}


@media screen and (min-width: 768px) {
    header p {
        display: none;
    }

    header > ul {
        display: flex;
        position: absolute;
        right: 70px;
        list-style-type: none;
        gap: 20px;
        align-items: center;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        width: 65vw;
    }

    main > section {
        height: 300px;
    }
}

@keyframes titulo {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}